.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8e9a1;;
    font-family: 'Roboto', sans-serif;
    color: #222;
    padding: 1rem;
}

h1, h2, h3 {
    color: #f76c6c;
    font-weight: bold;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .Container {
        padding: 0.5rem;
    }

    .Title {
        font-size: 2rem;
    }

}