#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-label {
  margin-right: 10px;
}

.add-todo-btn {
  margin-left: 10px;
}

li button {
  margin-left: 10px;
}