@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures parent containers are tall enough */
}